#art { 
  display: table; 
  border-spacing:1px;
  background-color:black;
  border: 5px solid black; 
   width: fit-content;
  margin: 0 auto;
}

#paleta {
   width: fit-content;
  margin: 0 auto;
}

.row { 
  display: table-row; }
.pixel { 
  display: table-cell;
  background-color: white; 
  width: 40px; 
  height: 40px; 
  border: 1px solid black; }

.lapiz { 
display: inline-block; width: 40px; 
height: 40px; 
border: 2px solid black; }